<h1>Aggiugi Eventi</h1>
    <form method="POST" action="/events">
      <input type="artista" placeholder="artista" name="artista"><p>
      <input type="luogo" placeholder="luogo" name="luogo"><p>
      <input type="data" placeholder="data" name="data"><p>
      <input type="prezzo" placeholder="prezzo" name="prezzo"><p>
      
      <input type="submit" value="submit">
    </form>
    <button onclick="window.location.href='/eventiorg';">Indietro</button>      
    <% addEvento.forEach(function(org)  { %>
      <li><%= org.company %> 
      </li>
  <% }); %>