<h1>LISTA EVENTI</h1>

<% eventiOrg.forEach(function(events)  { %>
    <li><%= events.artista %> 
        <%= events.luogo %> 
        <%= events.data %>
        <%= events.prezzo %>
    </li>
<% }); %>
<H1>EVENTIORG</H1>
<button onclick="window.location.href='/addEvento';">Aggiungi Evento</button>
