<!DOCTYPE html>
<html>
  <head>
    <title>Musical Events</title>
    <link rel="stylesheet" href="../../assets/styles/hmpgstyle.css" type="text/css">
  </head>
  <body>
    <div class="center">
        <h1>Homepage</h1>
        <h2>Registrati o effettua il login</h2>

        <button onclick="window.location.href='login';">Accedi</button>
        <button onclick="window.location.href='signup';">Registrati</button>

        <h2>Sei un organizzatore di eventi?</h2>

        <button onclick="window.location.href='/loginOrg';">Accedi</button>
        <button onclick="window.location.href='/signupOrg';">Registrati</button>
    </div>

    <script>

    </script>
  </body>
</html>
