<head>
  <link rel="stylesheet" href="../../assets/styles/sgnstyle.css" type="text/css">
</head>
<body>
  <div class="center">
    <h1>Registrati come Organizzatore</h1>
    <form method="POST" action="/organizzatore">
      <input type="nome" placeholder="nome" name="nome"><p>
      <input type="cognome" placeholder="cognome" name="cognome"><p>
      <input type="email" placeholder="email" name="email"><p>
      <input type="password" placeholder="password" name="password"><p>
      <input type="company" placeholder="company" name="company"><p>
      
      <input type="submit" value="submit">
    </form>
    <button onclick="window.location.href='../';">Indietro</button>
  </div>
</body>
