<h1>FRANCESCA STUPIDA</h1>

<% eventi.forEach(function(eventi){ %>
<tr>
  <td><%= eventi.artista %></td>
  <td><%= eventi.luogo %></td>
  <td><%= eventi.data %></td>
  <td><%= eventi.prezzo %></td>
  <p>
</tr>
<% }); %>